<%- include('../partials/head') %>

<section class="erro-acesso">
    <h1>Acesso Negado</h1>
    <p><%= mensagem %></p>
    <a href="/">Voltar para o início</a>
</section>

<%- include('../partials/footer') %>
